.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333;
  color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 100;
}

.sidebar-menu {
  color: #fff;
  text-align: start;
  display: flex;
  align-items: center;
}

.sidebar-menu.active {
  background-color: #3273ff;
  color: #fff;
}
  
.sidebar-icons {
  margin-right: 8px;
}

.sidebar-container.open {
  transform: translateX(0);
}

@media (min-width: 1024px) {
  .sidebar-container {
    position: static;
    width: 250px;
    transform: translateX(0);
    z-index: 0;
  }
}

.sidebar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

@media (max-width: 1023px) {
  .sidebar {
    display: flex;
    padding-top: 96px;
  }

  .app {
    margin-top: 64px;
  }
}

.toggle-sidebar-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 150;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

@media (min-width: 1024px) {
  .toggle-sidebar-btn {
    display: none;
  }  
}

.main-content {
  flex-grow: 1;
  background-color: #f4f7fc;
  color: #333;
  overflow-y: auto;
}

@media (max-width: 1023px) {
  .main-content {
    margin-left: 0;
  }
}

.hidden {
  display: none; /* Use display: none to completely remove the content from layout */
}

.fade-out {
  opacity: 0;
  transition: opacity 0.15s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner span {
  font-size: 1.5rem;
  color: #888;
}

.spinner-frame{
  height: 100px;
  width: 100px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.material-icons {
  font-size: 1.25rem;
  vertical-align: middle;
}

/* Loading spinner styling */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner-frame {
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}